section > *{
    text-align: left;
    margin: 5px auto;
}

.VideoChat > button {
    background-color: #381fd1;
    color: white;
    padding: 15px 25px;
    font-size: 1.15em;
    border: 1px solid #212121;
}

.VideoChat > button:hover {
    cursor: pointer;
    background-color: #1d0a97;
}

video#video, canvas#canvas{
    width: 640px;
    height: 480px;
    background-color: black;
    border: 5px solid green;
}
